<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.butler.mapper.ButlerIconMapper">

    <select id="countIconByTypeId" resultType="Long">
        select count(1)
        from butler_icon
        where type_id = #{typeId}
          and deleted = 0
    </select>
</mapper>